/.env
/.idea
/.venv
/.vscode
/__pycache__
/venv
/env

# Python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Virtual Environment
.venv/
env/

# Pytest
.pytest_cache/

# Pytest
.pytest_cache/

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore the layer directory within fastapi_app
layer/
build/
